*{
  margin:0;
  padding: 0;
}



nav{
  height: 210px;
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 30px;
  box-shadow: 30px black;
  font-family: 'Fraunces', serif;
  font-size: 15px;
  
  
  
}


.menu{
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu a{
  text-decoration: none;
  color:brown;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
.menu a:before{
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  width: 0%;
  height: 2px;
  background-color:black;
  transition: all 0.5s linear;

}
.menu a:hover::before{
  width: 100%;
  background-color: blue;
}
img{
  background-size: 150;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); }

img {

  transition: transform .2s;
  margin: 0 auto;
}

img:hover {
  -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5); 
  transform: scale(1.5); 
}



